<mat-nav-list class="custom-sidenav">

  <a mat-list-item [routerLink]="['/dashboard']">
    <mat-icon style="font-size: 1.15rem;height: auto;">dashboard</mat-icon>
    <span class="ms-1">Dashboard</span>
  </a>

  <!-- Master Data Entry with dropdown -->
  <div class="submenu">
    <a mat-list-item (click)="toggleMasterData()" class="submenu-header">
      <mat-icon style="font-size: 1.15rem;height: auto;">layers</mat-icon>
      <span class="ms-1">Workflow Queues</span>
      <mat-icon class="expand-icon">{{ showMasterData ? 'expand_less' : 'expand_more' }}</mat-icon>
    </a>

    <div *ngIf="showMasterData" class="submenu-items">

      <a mat-list-item *ngFor="let queue of queuesList" [routerLink]="[queue.route]" >
        <span>{{queue.name}}</span>
      </a>
    </div>
  </div>

  <a mat-list-item [routerLink]="['/dashboard/vip-reports']" *ngIf="!isAssigner()">
    <mat-icon style="font-size: 1.15rem;height: auto;">assessment</mat-icon>
    <span class="ms-1">Reports</span>
  </a>

  <!-- <a mat-list-item [routerLink]="['/administrator/settings']">
    <mat-icon style="font-size: 1.15rem;height: auto;">settings</mat-icon>
    <span class="ms-1">Settings</span>
  </a> -->

</mat-nav-list>