<!-- Top Navbar -->
<mat-toolbar class="navbar-top" color="primary">
  <!-- Left: Flag + GOVT -->
  <div class="d-flex align-items-center gap-3 cursor-pointer" (click)="navigateHome()">
    <img src="assets/img/Flag_of_India.png" alt="India Flag" class="h-6" />
    <div>
      <p class="mb-0 text-white text-sm font-normal">GOVERNMENT OF INDIA</p>
    </div>
  </div>

  <!-- Spacer -->
  <span class="ms-auto"></span>

  <div class="d-flex align-items-center gap-4">


    <div style="width: 1px; height: 20px; background-color: white;"></div>

    <!-- Accessibility Controls -->
    <div class="access-type d-flex align-items-center gap-2 text-white">
      <a href="javascript:void(0)" class="changer" title="Decrease Text" (click)="reduceFontSize()">
        <sup>-</sup>A
      </a>
      <a href="javascript:void(0)" class="changer" title="Reset Text" (click)="resetFontSize()">
        A
      </a>
      <a href="javascript:void(0)" class="changer" title="Increase Text" (click)="increaseFontSize()">
        <sup>+</sup>A
      </a>
    </div>
  </div>
</mat-toolbar>

<mat-toolbar class="navbar-menu">
  <div class="d-flex align-items-center gap-2">
    <img src="assets/img/Emblem_of_India.svg" alt="India Emblem" style="height: 40px;" />
    <div style="width: 1px; height: 40px; background-color: #000;"></div>
    <div class="d-grid">
      <span class="text-lg font-bold text-blue-900" style="margin-bottom: -8px;">VIP Reference Management</span>
      <p class="mb-0 text-sm text-gray-800 font-normal">Ministry of Road Transport and Highways, Government of India</p>
    </div>
  </div>

  <span class="ms-auto"></span>

  <div class="d-flex align-items-center gap-3">
    <!-- Add Grievance -->
    <button mat-raised-button color="warn" class="greviance-button" *ngIf="isGrevianceButton"
      (click)="publicGreviance()">
      <mat-icon>book</mat-icon>&nbsp;Add Grievance
    </button>

    <!-- Divider -->
    <div *ngIf="isGrevianceButton" style="width: 3px; height: 25px; background-color: black;"></div>

    <!-- Login -->
    <button mat-raised-button color="primary" class="login-button" *ngIf="isLoginedButton" (click)="userLogin()">
      <mat-icon>person</mat-icon>&nbsp;Login
    </button>

    <!-- Home -->
    <button mat-raised-button color="accent" class="login-button text-white" *ngIf="isHomeButton" [routerLink]="['/']">
      <mat-icon>home</mat-icon>&nbsp;Home
    </button>

    <!-- Logo -->
    <!-- <img src="assets/img/Road_Safety_Committee_Logo.png" alt="Road Safety Logo" style="height: 40px; transform: scale(1.25);" /> -->
  </div>
</mat-toolbar>