::ng-deep .mat-mdc-icon-button{
    color: black !important;
}
.mat-mdc-header-row {
  background: linear-gradient(to right, #4CAF50, #2196F3) !important;
  color: white !important;
}
.mat-mdc-header-cell {
  background: transparent !important;
  color: #fff !important;
  font-weight: 600;
}
.material-icons{
    font-size: 20px !important;
}
::ng-deep .mdc-text-field--outlined{
    height:40px !important;
}
::ng-deep .mat-mdc-select{
    font-size:21px;
}
::ng-deep .mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix{
    padding-top:10px !important;
}
.mat-column-actions{
    width: 250px;
}