<header class="main-header mat-elevation-z4">
  <div class="header-left d-flex align-items-center">
    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="header-divider"></div>
    <div class="govt-title">
      <div class="title-main">VIP Reference Management</div>
      <div class="title-sub">Ministry of Road Transport and Highways, Government of India</div>

    </div>
  </div>
  <div class="header-right d-flex align-items-center">
    <!-- <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button> -->
    <!-- <div class="header-divider"></div> -->
    <div class="user-menu">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon class="user-icon">account_circle</mat-icon>
        <span class="username">{{ userDetails?.name }}</span>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="viewProfile()">
          <mat-icon>account_circle</mat-icon>
          <span>My Profile</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>

  </div>
</header>